Pandas==2.2.3
Numpy==2.1.1
Scikit-Learn==1.5.2
Joblib==1.4.2
Nltk==3.9.1
Wordcloud==1.9.3
Matplotlib==3.9.2
Seaborn==0.13.2
Plotly==5.23.0
Pymupdf==1.24.10
Pytesseract==0.3.13
Pillow==10.4.0
Tqdm==4.66.5
Transformers==4.45.1
Streamlit==1.39.0
Requests==2.32.3
Python-Docx==1.1.2
Fuzzywuzzy==0.18.0
Python-Levenshtein